---
layout: default
---

{% include layouts/nav/nav-11.html default_logo="black" drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title4.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog grid grid-view boxed">
      <div class="row isotope">
        {% if site.data.news and site.data.news.size > 0 %}
          {% for post in paginator.posts %}
          {% include posts/loops/post-loop.html 
            title_length=27
            excerpt_length=40
            is_boxed=true
            is_grid=true
          %}
          {% endfor %}
        {% else %}
          <p class="lead larger text-center">Brak wpisów do wyświetlania.</p>
        {% endif %}
      </div>
    </div>
    {% include utilities/pagination.html %}
  </div>
</div>

{% include layouts/footer/footer-3.html %}
