---
title: Kontakt
permalink: /kontakt/
layout: default
meta_title: Kontakt – Wydawnictwo Bernardinum Pelplin
meta_description: >
  Skontaktuj się z Wydawnictwem Bernardinum – dane adresowe, e-mail, numery
  telefonów do działów oraz formularz kontaktowy online. 
schema_type: contact
contact_info:
  title: Wydawnictwo Bernardinum Sp. z o.o.
contact_form:
  enable: true
  title: Formularz kontaktowy
  sub_title: |-
    Masz pytania?  
    Skorzystaj z poniższego formularza aby przesłać nam swoją wiadomość.
  form_id: z2o6sDbkO
  lists:
    - title: Adres
      info_01: "ul. Bpa Dominika 11, 83-130 Pelplin"
      icon: "icofont-location-pin"

    - title: E-mail
      info_01: "sekretariat@bernardinum.com.pl"
      icon: "icofont-mail-box"

    - title: Telefon
      info_01: "+48 58 536 17 57"
      icon: "icofont-telephone"
  lists_media:
    - title: Facebook
      info_01: https://www.facebook.com/people/Wydawnictwo-Bernardinum/100041691229106/
      icon: "jam jam-facebook"
    - title: Instagram
      info_01: https://www.instagram.com/wydawnictwo_bernardinum/
      icon: "jam jam-instagram"
    - title: Google
      info_01: https://maps.app.goo.gl/ibvxbnypSeoQ6Ejn6
      icon: "jam jam-google"
    - title: Pielgrzym TV
      info_01: https://www.youtube.com/@pielgrzymtv6107
      icon: "jam jam-youtube"
  list_extra_phone:
    - title: Pielgrzym
      info_01: +48 58 536 18 99
    - title: Redakcja Techniczna
      info_01: +48 58 536 48 96
    - title: Kierownik Drukarni
      info_01: +48 58 536 43 75
    - title: BOK Drukarnia
      info_01: +48 58 536 43 76
    - title: Dział Sprzedaży Książek i Prenumeraty czasopism
      info_01: +48 58 536 18 99
  list_extra_email:
    - title: BOK
      info_01: biuroobslugi@bernardinum.com.pl
    - title: Pielgrzym
      info_01: pielgrzym@bernardinum.com.pl
    - title: Drukarnia
      info_01: drukarnia@bernardinum.com.pl
    - title: Inspektor Ochrony Danych Osobowych
      info_01: iod@bernardinum.com.pl
  list_extra_www:
      - title: Księgarnia Internetowa Bernardinum
        info_01: https://ksiegarnia.bernardinum.com.pl
      - title: Drukarnia Bernardinum
        info_01: https://drukarnia.bernardinum.com.pl
      - title: Faksymile Biblii Gutenberga
        info_01: http://faksymile.bernardinum.com.pl/facsimile-editions/the-gutenberg-bible
  forms_data:
    - field_type: input
      field_name: Imie
      placeholder: Imię
      error_message: Musisz wypełnić to pole.
    - field_type: input
      field_name: Nazwisko
      placeholder: Nazwisko
      error_message: Musisz wypełnić to pole.
    - field_type: input
      field_name: Email
      placeholder: Email
      error_message: Musisz wypełnić to pole.
    - field_type: input
      field_name: Telefon
      placeholder: Telefon
      error_message: Musisz wypełnić to pole.
    - field_type: textarea
      field_name: Informacja
      placeholder: Wiadomość
      error_message: Musisz wypełnić to pole.
google_maps:
  enable: true
---
{% include layouts/nav/nav-11.html default_logo="black" drop_search=true alignment_class="ms-auto" %} 
{% include layouts/header/page-title4.html %} 
{% include components/contact/contact-4.html %}
{% include layouts/footer/footer-3.html %}
