{% assign available_books = site.data.books | where: "availability", "in stock" | reverse | slice: 0, 12 %}
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title text-center">Nowości wydawnicze</h2>
    <div class="grid grid-view boxed">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="true" data-loop="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
        {% if site.data.books and site.data.books.size > 0 %}
        {% for produkt in available_books %}
        <div class="item item-detailed">
          <div class="item-inner">
            <div class="box bg-white shadow p-30">
              <figure class="main rounded mb-30">
                <div class="item-detailed-image">
                  <img src="{{ produkt.image_link | escape }}" alt="{{ produkt.title | escape }}" />
                </div>
                <span class="item-label bg-green">Nowość</span>
              </figure>
              <div class="item-content">
                {% assign words = produkt.title | escape | split: ' ' %}
                {% assign short_title = '' %}
                {% for word in words %}
                  {% assign test = short_title | append: word | append: ' ' %}
                  {% if test.size < 20 %}
                    {% assign short_title = test %}
                  {% else %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                <h2 class="post-title mb-10">
                  <a target="_blank" href="{{ produkt.link | escape }}">
                    {{ short_title | strip }}{% if produkt.title.size > short_title.size %}…{% endif %}
                  </a>
                </h2>
                <div class="price mb-0"><span class="amount">{{ produkt.price | escape }} zł</span> </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Brak produktów do wyświetlenia.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>