---
layout: default
title: "Polityka prywatności"
meta_description: |
  Polityka prywatności i ochrony danych osobowych Wydawnictwa Bernardinum. 
permalink: "/polityka-prywatnosci/"
sub_title: ""
header_image: ""

privacy_info:
  enable: true
  title: "Polityka prywatności i ochrony danych osobowych"
  description: |
    <p>Niniejsza polityka prywatności zawiera zasady przetwarzania danych osobowych przyjęte przez Wydawnictwo Bernardinum Sp. z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin, NIP: 5932459521, która jest administratorem danych. </p>
    <p>Dokument ten jest wyrazem dbałości o prawa osób odwiedzających nasz serwis, korzystających z oferowanych przez nas usług i współpracujących z nami oraz spełnieniem obowiązku informacyjnego wynikającego z aktualnych regulacji prawnych dotyczących przetwarzania danych osobowych.</p>
    <p>W związku z wdrożeniem przez nas obowiązujących przepisów Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE, tzw. RODO, szanując Państwa prywatność, jak również dbając o to, aby wiedzieli Państwo w jaki sposób przetwarzamy Wasze dane osobowe, poniżej przedstawiamy klauzule informacyjne, które pomogą Wam to ustalić:</p>
    <ul>
    <li><a href="#klienci">Klienci księgarni internetowej</a>
    </li>
    <li><a href="#newsletter">Odbiorcy newslettera</a>
    </li>
    <li><a href="#kandydaci">Kandydaci do pracy</a>
    </li>
    <li><a href="#dostawcy">Klienci i dostawcy</a>
    </li>
    <li><a href="#potencjalni_klienci">Potencjalni klienci</a>
    </li>
    <li><a href="#nadawcy">Nadawcy i adresaci korespondencji</a>
    </li>
    <li><a href="#autorzy">Recenzenci i autorzy</a>
    </li>
    <li><a href="#zleceniobiorcy">Zleceniobiorcy</a>
    </li>
    </ul>
    <p>W sprawie przetwarzania danych osobowych można skontaktować się z naszym inspektorem ochrony danych mailowo: iod@bernardinum.com.pl </p>
    <h3>Wykorzystanie plików COOKIES</h3>
    <ol>
    <li>
    <p>Serwis używa plików „cookies”, które są małymi plikami umożliwiającymi urządzeniom używanym do przeglądania sieci Internet (np. komputer, smartfon itp.), zapamiętywanie specyficznych informacji dotyczących używanego urządzenia. Informacje zarejestrowane w plikach cookies nie służą ustalaniu tożsamości użytkownika</p>
    </li>
    <li>
    <p>Administrator wykorzystuje następujące rodzaje plików cookies:</p>
    <ol>
    <li>
    <p>Cookies stałe (ang. persistent cookies) – są przechowywane na Urządzeniu końcowym Użytkownika przez czas określony lub do czasu ich usunięcia przez Użytkownika; zakończenie sesji danej przeglądarki lub wyłączenie Urządzenia końcowego nie powoduje ich usunięcia z Urządzenia końcowego Użytkownika. </p>
    </li>
    <li>
    <p>Cookies sesyjne (ang. session cookies) – to pliki tymczasowe, które są przechowywane na Urządzeniu końcowym Użytkownika do momentu zakończenia sesji danej przeglądarki internetowej; zapisane informacje są wówczas trwale usuwane z pamięci Urządzenia końcowego.</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Celem wykorzystania pików cookies przez administratora jest poprawna konfiguracja Serwisu, polegająca w szczególności na:</p>
    </li>
    </ol>
    <ol>
    <ol>
    <li>
    <p>Dostosowaniu zawartości stron Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać Urządzenie końcowe Użytkownika Serwisu i odpowiednio wyświetlić stronę internetową dostosowaną do jego indywidualnych potrzeb,</p>
    </li>
    <li>
    <p>Tworzenia statystyk, które pomagają wyjaśnić, w jaki sposób Użytkownik Serwisu korzysta ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości z wyłączeniem personalnej identyfikacji Użytkownika,</p>
    </li>
    <li>
    <p>Zapamiętania ustawień wybranych przez Użytkownika i personalizacji interfejsu Użytkownika,</p>
    </li>
    <li>
    <p>Utrzymania sesji Użytkownika Serwisu, po zalogowaniu, dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła,</p>
    </li>
    <li>
    <p>Zapewnienia bezpieczeństwa i niezawodności Serwisu,</p>
    </li>
    <li>
    <p>Optymalizacji i zwiększenia wydajności usług świadczonych przez Administratora.</p>
    </li>
    </ol>
    </ol>
    <ol>
    <li>
    <p>Ustawienia dotyczące plików cookies można samodzielnie i w każdym czasie zmienić korzystając z dostępnych funkcji w używanej przeglądarki internetowej, określając warunki ich przechowywania, uzyskiwania dostępu lub można je usunąć. Jeżeli ustawienia te pozostaną bez zmian, pliki cookies zostaną zapisane w pamięci urządzenia. Zmiana ustawień dotyczących plików cookies może ograniczyć funkcjonalność Serwisu.</p>
    </li>
    <li>
    <p>Niedokonanie zmiany ustawień w zakresie Cookies oznacza, że będą one zamieszczone w Urządzeniu końcowym Użytkownika, a tym samym Administrator będzie przechowywać informacje w Urządzeniu końcowym Użytkownika lub będzie uzyskiwać dostęp do tych informacji.</p>
    </li>
    </ol>
    <p>W przypadku zmiany obowiązującej polityki prywatności, wprowadzone zostaną odpowiednie modyfikacje do powyższego zapisu.</p>
    <h3><a name="klienci"></a>Klienci księgarni internetowej</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin i można skontaktować się z nami telefonicznie 58/536-17-57, mailowo <a href="mailto:bernardinum@bernardinum.com.pl">bernardinum@bernardinum.com.pl</a>, osobiście w siedzibie,</p>
    </li>
    <li>
    <p>Z Inspektorem Ochrony Danych można skontaktować się mailowo <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Celem przetwarzania jest:</p>
    <ol>
    <li>
    <p>Założenie konta internetowego w e-sklepie umożliwiające korzystanie z pełnym możliwości sklepu, zarządzanie kontem oraz wgląd w historię zamówień,</p>
    </li>
    <li>
    <p>Zawarcie i realizacja umowy sprzedaży oraz dostarczenie zamówionych towarów,</p>
    </li>
    <li>
    <p>Dopełnienie ciążących na nas obowiązków wynikających z przepisów prawa,</p>
    </li>
    <li>
    <p>Zapewnienie możliwości podejmowania skutecznych działań w celu ewentualnego dochodzenia przysługujących roszczeń lub ewentualnej obrony przed kierowanymi roszczeniami,</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane są na podstawie:</p>
    <ol>
    <li>
    <p>Art. 6 ust. 1 lit. a ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r., udzielonej zgody na założenie konta potwierdzone czynnością rejestracji,</p>
    </li>
    <li>
    <p>b) Art. 6 ust. 1 lit. b i c ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r., niezbędne do wykonania umowy oraz spełnienia obowiązków wynikających z przepisu prawa,</p>
    </li>
    <li>
    <p>Art. 6 ust. 1 lit. f ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r., prawnie usprawiedliwiony interes administratora,</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych będą podmioty uczestniczące w realizacji zamówienia oraz nasi dostawcy usług informatycznych, usług kurierskich, pocztowych, dostawcy usług płatniczych,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane będą przez okres wymagany przepisami prawa (w tym przepisy rachunkowe oraz podatkowe - 5 lat liczonych od końca roku kalendarzowego, w którym powstał obowiązek podatkowy) lub do momentu przedawnienia roszczeń wynikający z przepisów prawa, a w przypadku udzielenia odrębnych zgód do momentu odwołania bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem, po upływie wyżej wymienionych okresów dane są usuwane lub poddawane anonimizacji,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do żądania od administratora dostępu do danych osobowych, prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do wniesienia sprzeciwu wobec przetwarzania, prawo do przenoszenia danych oraz prawo do cofnięcia zgody bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem przesyłając e-mail na adres <a href="mailto:zakupy@bernardinum.com.pl">zakupy@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych,</p>
    </li>
    <li>
    <p>Podanie danych w zamówieniu jest niezbędne w celu zawarcia i realizacji umowy, a ich brak uniemożliwi jej zawarcie. Podanie pozostałych danych osobowych jest dobrowolne,</p>
    </li>
    <li>
    <p>Nie wykorzystujemy zebranych danych osobowych do zautomatyzowanego podejmowania decyzji oraz nie dokonujemy profilowania.</p>
    </li>
    </ol>
    <h3><a name="newsletter"></a>Odbiorcy newslettera</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin i można skontaktować się z nami telefonicznie 58/536-17-57, mailowo <a href="mailto:bernardinum@bernardinum.com.pl">bernardinum@bernardinum.com.pl</a>, osobiście w siedzibie,</p>
    </li>
    <li>
    <p>Z Inspektorem Ochrony Danych można skontaktować się mailowo <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Celem przetwarzania jest przesyłanie newslettera,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane są na podstawie Art. 6 ust. 1 lit. a, udzielonych zgód na przesyłanie newslettera zawierającego informacje o nowościach i promocjach wydawniczych,</p>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych będą firmy informatyczne wspierające nas w przesyłaniu newslettera,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przechowywane będą do momentu odwołania zgody bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do żądania od administratora dostępu do danych osobowych, prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do wniesienia sprzeciwu wobec przetwarzania, prawo do przenoszenia danych,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do cofnięcia zgody w dowolnym momencie wpisując na stronie internetowej księgarni <a href="http://ksiegarnia.bernardinum.com.pl">http://ksiegarnia.bernardinum.com.pl</a> swój adres mailowy w pozycji newsletter, wówczas na stronie internetowej pojawi się informacja, że podany adres już istnieje i przycisk WYPISZ. Po kliknięciu przycisku WYPISZ otrzyma Pani/Pan e-mail, z linkiem dezakaktywującym newsletter. Kliknięcie tego linku jest równoznaczne z cofnięciem zgody.</p>
    </li>
    <li>
    <p>Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych,</p>
    </li>
    <li>
    <p>Podanie danych osobowych jest dobrowolne, ale niezbędne żeby odbierać Newsletter.</p>
    </li>
    </ol>
    <h3><a name="kandydaci"></a>Kandydaci do pracy</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o., 83-130 Pelplin, ul. Biskupa Dominika 11 i można skontaktować się z nami telefonicznie +48 58 536-17-57, mailowo <a href="mailto:sekretariat@bernardinum.com.pl">sekretariat@bernardinum.com.pl</a>, osobiście w siedzibie,</p>
    </li>
    <li>
    <p>Celem przetwarzania jest wyłonienie kandydatów do pracy w procesie rekrutacyjnym,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane są na podstawie Art. 6 ust. 1 lit. a, jako wyrażonej zgody,</p>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych są podmioty upoważnione na podstawie przepisów prawa oraz współpracujący z nami dostawcy usług informatycznych,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przechowywane będą przez okres:</p>
    <ol>
    <li>
    <p>30 dni od momentu zakończenia procesu rekrutacji na konkretne stanowisko,</p>
    </li>
    <li>
    <p>Jeśli wyrażono zgodę na udział w przyszłych procesach rekrutacji, to do momentu odwołania zgody bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do żądania od administratora dostępu do danych osobowych, prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do wniesienia sprzeciwu wobec przetwarzania, prawo do przenoszenia danych,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do cofnięcia zgody w dowolnym momencie wysyłając mail na adres <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych,</p>
    </li>
    <li>
    <p>Podanie danych osobowych jest dobrowolne, jednak niezbędne do udziału w procesie rekrutacji.</p>
    </li>
    </ol>
    <h3><a name="dostawcy"></a>Klienci i dostawcy</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin i można skontaktować się z nami telefonicznie 58 536-17-57, mailowo <a href="mailto:bernardinum@bernardinum.com.pl">bernardinum@bernardinum.com.pl</a>, osobiście w siedzibie,</p>
    </li>
    <li>
    <p>Z Inspektorem Ochrony Danych można skontaktować się mailowo <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Celem przetwarzania jest kontakt i realizacja złożonych zamówień,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane są na podstawie:</p>
    <ol>
    <li>
    <p>Art. 6 ust. 1 lit. b i c ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r., niezbędne do wykonania umowy, niezbędne do wykonania obowiązków wynikających z przepisu prawa kodeksu handlowego, kodeksu cywilnego, przepisów podatkowych,</p>
    </li>
    <li>
    <p>Art. 6 ust. 1 lit. f ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r., prawnie usprawiedliwiony interes administratora,</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych będą podmioty uczestniczące w realizacji zamówienia,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przechowywane będą przez okres wymagany przepisami prawa (w tym przepisy rachunkowe oraz podatkowe - 5 lat liczonych od końca roku kalendarzowego, w którym powstał obowiązek podatkowy) lub do momentu przedawnienia roszczeń wynikający z przepisów ustawy Kodeks cywilny, po upływie wyżej wymienionych okresów dane są usuwane lub poddawane anonimizacji,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do żądania od administratora dostępu do danych osobowych, prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do wniesienia sprzeciwu wobec przetwarzania, prawo do przenoszenia danych,</p>
    </li>
    <li>
    <p>Ma Pani/Pan prawo wniesienia skargi do organu nadzorczego,</p>
    </li>
    <li>
    <p>Podanie danych jest niezbędne do realizacji zamówienia.</p>
    </li>
    </ol>
    <h3><a name="potencjalni_klienci"></a>Potencjalni klienci</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin i można skontaktować się z nami telefonicznie 58/536-17-57, mailowo <a href="mailto:bernardinum@bernardinum.com.pl">bernardinum@bernardinum.com.pl</a> , osobiście w siedzibie,</p>
    </li>
    <li>
    <p>Z Inspektorem Ochrony Danych można skontaktować się mailowo <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Celem przetwarzania danych osobowych jest kontakt oraz udzielanie odpowiedzi na zadane pytania, marketing naszych produktów i usług,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przetwarzane są na podstawie Art. 6 ust. 1 lit. f RODO (prawnie uzasadniony interes); polegający na zapewnieniu możliwości podejmowania kontaktu oraz udzielanie odpowiedzi na zadane pytania, Art. 6 ust. 1 lit. a, udzielonej zgody na przetwarzanie danych osobowych w celach marketingowych,</p>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych mogą być firmy informatyczne wspierające naszą działalność,</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe przechowywane będą do momentu odwołania zgody bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do żądania od administratora dostępu do danych osobowych, prawo do ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do wniesienia sprzeciwu wobec przetwarzania, prawo do przenoszenia danych,</p>
    </li>
    <li>
    <p>Posiada Pani/Pan prawo do cofnięcia zgody w dowolnym momencie przesyłając mail’a na adres <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>,</p>
    </li>
    <li>
    <p>Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych,</p>
    </li>
    <li>
    <p>Podanie danych osobowych jest dobrowolne, ale niezbędne w celu nawiązania kontaktu, otrzymania odpowiedzi. Podanie danych w celach marketingowych jest dobrowolne.</p>
    </li>
    </ol>
    <h3><a name="nadawcy"></a>Nadawcy i adresaci korespondencji</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. z siedzibą w Pelplinie ul. Biskupa Dominika 11, 83-130 Pelplin i można skontaktować się z nami telefonicznie 58 536-17-57, mailowo <a href="mailto:bernardinum@bernardinum.com.pl">bernardinum@bernardinum.com.pl</a>, osobiście w siedzibie.</p>
    </li>
    <li>
    <p>Powołaliśmy Inspektora Ochrony Danych, z którym może Pani/Pan skontaktować się mailowo <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>.</p>
    </li>
    <li>
    <p>Dane osobowe będą przetwarzane przez nas w następujących celach i na następujących podstawach:</p>
    <ol>
    <li>
    <p>Realizacji celów związanych z obiegiem korespondencji, w tym prowadzenia rejestru przychodzącej i wychodzącej korespondencji, podjęcia kontaktu, udzielenia odpowiedzi na pytanie i dochodzenia ewentualnych roszczeń na podstawie art. 6 ust. 1 lit. f RODO), prawnie uzasadniony interes administratora, niezbędne do zrealizowania uprawnienia lub spełnienia obowiązku wynikającego z przepisu prawa to świadczenie usług pocztowych w obrocie krajowym lub zagranicznym (art. 1 ustawy z 23 listopada 2012 r. – Prawo pocztowe), polegający na zapewnieniu możliwości podejmowania skutecznych działań w celu realizacji tych ww. zadań. Niepodanie tych danych uniemożliwia realizację ww. celów.</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych mogą być:</p>
    <ol>
    <li>
    <p>Podmioty współpracujące z nami w zakresie rozwiązań technicznych i organizacyjnych, umożliwiające zarządzanie naszym podmiotem, w tym zwłaszcza:</p>
    <ol>
    <li>
    <p>Dostawcy usług teleinformatycznych,</p>
    </li>
    <li>
    <p>Dostawcy usług prawnych, doradczych oraz wspierających nas w dochodzeniu należnych roszczeń - w przypadku ich wystąpienia (w szczególności kancelariom prawnym, firmom windykacyjnym),</p>
    </li>
    <li>
    <p>Dostawcy usług kurierskich i pocztowych,</p>
    </li>
    </ol>
    </li>
    </ol>
    </li>
    <li>
    <p>Pani/Pana dane osobowe będą przechowywane przez okres:</p>
    <ol>
    <li>
    <p>Wymagany przepisami prawa, w tym wszelkie dane przetwarzane na potrzeby rachunkowości oraz ze względów podatkowych przetwarzamy przez 5 lat liczonych od końca roku kalendarzowego, w którym powstał obowiązek podatkowy,</p>
    </li>
    <li>
    <p>Jeśli celem przetwarzania danych jest dochodzenie roszczeń, to przetwarzamy je do momentu przedawnienia roszczeń wynikający z przepisów ustawy Kodeks cywilny,</p>
    </li>
    <li>
    <p>Do momentu ustania przydatności,</p>
    </li>
    <li>
    <p>Po upływie wyżej wymienionych okresów, dane są usuwane lub poddawane anonimizacji.</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Przysługuje Pani/Panu prawo dostępu do treści swoich danych, ich sprostowania, żądania ich usunięcia lub ograniczenia ich przetwarzania, do wniesienia sprzeciwu wobec ich przetwarzania oraz prawo do przenoszenia danych do innego administratora danych. Jeżeli Pani/Pan chce skorzystać z któregokolwiek z tych uprawnień, to prosimy o kontakt telefony, mailowy <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a> lub osobisty w naszej siedzibie.</p>
    </li>
    <li>
    <p>Przysługuje Pani/Panu również prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uzna Pani/Pan, że ich przetwarzanie narusza ogólne rozporządzenie o ochronie danych osobowych, w skrócie RODO.</p>
    </li>
    <li>
    <p>Dane osobowe nie będą przekazywane do państwa trzeciego ani organizacji międzynarodowej.</p>
    </li>
    <li>
    <p>Dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu.</p>
    </li>
    </ol>
    <h3><a name="autorzy"></a>Recenzenci i autorzy</h3>
    <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informujemy, iż:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. 83-130 Pelplin, ul. Biskupa Dominika 11 (ADO).</p>
    </li>
    <li>
    <p>Powołaliśmy Inspektora Ochrony Danych, z którym może Pani/Pan skontaktować się poprzez adresem e-mail <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>.</p>
    </li>
    <li>
    <p>Dane osobowe będą przetwarzane przez nas w następujących celach i na następujących podstawach:</p>
    <ol>
    <li>
    <p>Publikacji i dystrybucji książki, artykułu, recenzji autorskich na podstawie art. 6 ust. 1 lit. b RODO (Umowa), oraz realizacji przez nas obowiązków wynikających z przepisów rachunkowych, podatkowych w tym dotyczących archiwizowania dokumentów, tj. na podstawie art. 6 ust. 1 lit. c RODO (Nasz obowiązek);</p>
    </li>
    <li>
    <p>Organizacji promocji książek realizowanej poprzez:</p>
    <ol>
    <ul>
    <li>
    <p>Kontakt i przesyłanie informacji o książkach oraz książek w celu przygotowania recenzji, artykułu, współudział w organizacji spotkań autorskich na podstawie art. 6 ust. 1 lit. b RODO (Umowa), oraz realizacji przez nas obowiązków wynikających z przepisów rachunkowych, podatkowych w tym dotyczących archiwizowania dokumentów, tj. na podstawie art. 6 ust. 1 lit. c RODO (Nasz obowiązek);</p>
    </li>
    <li>
    <p>Publikacje recenzji na stronie internetowej, w mediach społecznościowych, w czasopismach wydawanych przez Wydawnictwo Bernardinum na podstawie wyrażonej przez Panią/Pana zgody, tj. na podstawie art. 6 ust. 1 lit. a RODO; jeżeli wyrazi Pani/Pan zgodę na przetwarzanie swoich danych osobowych,</p>
    </li>
    </ul>
    </ol>
    </li>
    <li>
    <p>Ewentualnego dochodzenia roszczeń ze stosunku cywilnego lub obrony przed takimi roszczeniami, tj. na podstawie art. 6 ust. 1 lit. f RODO (Nasz prawnie uzasadniony interes); Nasz prawnie uzasadniony interes polega na zapewnieniu możliwości podejmowania skutecznych działań w celu ewentualnego dochodzenia przysługujących nam roszczeń w stosunku do Pani/Pana, ewentualnej obrony przed roszczeniami, które Pani/Pan może w stosunku do nas skierować;</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Do zawarcia Umowy wymagamy podania przez Panią/Pana danych identyfikacyjnych, danych kontaktowych (jeżeli ich Pani/Pan nie poda, nie zawrzemy Umowy).</p>
    </li>
    </ol>
    <p>W czasie trwania Umowy wchodzimy w posiadanie innych Państwa danych (np. stawka wynagrodzeń, potrąceniach, numerach kont dla przelewów bankowych).</p>
    <p>Pojawienie się ich u nas jest konsekwencją prawidłowego wykonywania Umowy.</p>
    <ol>
    <li>
    <p>Przysługuje Panu/Pani prawo do żądania dostępu do swoich danych osobowych, ich sprostowania oraz usunięcia, a nadto do żądania ograniczenia przetwarzania oraz do przenoszenia danych.</p>
    </li>
    <li>
    <p>Ma również Pani/Pan prawo do wniesienia sprzeciwu – z przyczyn związanych z Pani/Pana szczególną sytuacją – wobec przetwarzania niezbędnego do celów wynikających z Naszego prawnie uzasadnionego interesu.</p>
    </li>
    <li>
    <p>Jeśli wyrazili Państwo zgodę na przetwarzanie danych osobowych, to posiadacie prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem, wysyłając mail na adres <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a></p>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych będą podmioty, którym zobowiązani jesteśmy przekazywać dane na gruncie obowiązujących przepisów prawa, jak również podmioty realizujące na naszą rzecz usługi informatyczne, kurierskie lub pocztowe oraz współpracujące z nami instytucje kultury i oświaty.</p>
    </li>
    <li>
    <p>Dane osobowe będą przechowywane do momentu wniesienia przez Państwa sprzeciwu wobec przetwarzania lub przez okres wykonywania Umowy, a także po jej zakończeniu – do czasu ustania po naszej stronie obowiązku archiwizowania dokumentów związanych z zawarciem lub wykonywaniem Umowy lub przedawnienia naszych wzajemnych roszczeń (w zależności od tego, która ze wskazanych okoliczności zaistnieje później). Dane przetwarzane na podstawie zgody będą przechowywane do czasu wycofania zgody, rozwiązania Umowy lub innej przyczyny wskazanej przy wyrażaniu zgody.</p>
    </li>
    <li>
    <p>Jeśli uzna Pani/Pan, że przetwarzanie danych osobowych jest niezgodne z przepisami RODO, może Pani/Pan wnieść skargę do Prezesa Urzędu Ochrony Danych Osobowych.</p>
    </li>
    <li>
    <p>W toku przetwarzania Pani/Pana danych osobowych nie będzie dochodzić do zautomatyzowanego podejmowania decyzji, w tym profilowania.</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe nie będą przekazywane do państw trzecich (czyli poza Europejski Obszar Gospodarczy) ani do organizacji międzynarodowych. Jeżeli zaistniałaby taka konieczność, w szczególności w przypadku utrzymywania relacji z kontrahentami spoza Europejskiego Obszaru Gospodarczego, uzupełniająca informacja w tym zakresie zostanie Pani/Panu przekazana oddzielnie.</p>
    </li>
    </ol>
    <h3><a name="zleceniobiorcy"></a>Zleceniobiorcy</h3>
    <p>W związku z wdrożeniem przez nas obowiązujących przepisów Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE tzw. RODO, szanując Pani/Pana prywatność, jak również dbając o to, aby wiedzieli Państwo w jaki sposób przetwarzamy Wasze dane osobowe, poniżej przedstawiamy informacje, które pomogą Państwu to ustalić:</p>
    <ol>
    <li>
    <p>Administratorem Pani/Pana danych osobowych jest Wydawnictwo Bernardinum Spółka z o.o. 83-130 Pelplin, ul. Biskupa Dominika 11 (ADO).</p>
    </li>
    <li>
    <p>Powołaliśmy Inspektora Ochrony Danych, z którym może Pani/Pan skontaktować się poprzez adresem e-mail <a href="mailto:iod@bernardinum.com.pl">iod@bernardinum.com.pl</a>.</p>
    </li>
    <li>
    <p>Dane osobowe będą przetwarzane przez nas w następujących celach i na następujących podstawach:</p>
    <ol>
    <li>
    <p>Prawidłowej realizacji zawartej pomiędzy nami umowy cywilnoprawnej, tj. na podstawie art. 6 ust. 1 lit. b RODO (Umowa);</p>
    </li>
    <li>
    <p>Realizacji przez nas obowiązków wynikających z przepisów rachunkowych, podatkowych w tym dotyczących archiwizowania dokumentów księgowych, tj. na podstawie art. 6 ust. 1 lit. c RODO (Nasz obowiązek);</p>
    </li>
    <li>
    <p>Ewentualnego dochodzenia roszczeń ze stosunku cywilnego lub obrony przed takimi roszczeniami, tj. na podstawie art. 6 ust. 1 lit. f RODO (Nasz prawnie uzasadniony interes); Nasz prawnie uzasadniony interes polega na zapewnieniu możliwości podejmowania skutecznych działań w celu ewentualnego dochodzenia przysługujących nam roszczeń w stosunku do Pani/Pana, ewentualnej obrony przed roszczeniami, które Pani/Pan może w stosunku do nas skierować;</p>
    </li>
    <li>
    <p>W pozostałym zakresie dane osobowe mogą być przetwarzane na podstawie wyrażonej przez Panią/Pana zgody, tj. na podstawie art. 6 ust. 1 lit. a RODO; jeżeli wyrazi Pani/Pan zgodę na przetwarzanie swoich danych osobowych, treść tej zgody będzie określać, w jakim celu będziemy przetwarzać Pani/Pana dane osobowe.</p>
    </li>
    </ol>
    </li>
    <li>
    <p>Do zawarcia Umowy wymagamy podania przez Panią/Pana danych identyfikacyjnych, danych kontaktowych, danych o doświadczeniu zawodowym (jeżeli ich Pani/Pan nie poda, nie zawrzemy Umowy).</p>
    </li>
    </ol>
    <p>W czasie trwania Umowy wchodzimy w posiadanie innych Państwa danych (np. stawka wynagrodzeń, potrąceniach, numerach kont dla przelewów bankowych).</p>
    <p>Pojawienie się ich u nas jest konsekwencją prawidłowego wykonywania Umowy.</p>
    <ol>
    <li>
    <p>Przysługuje Panu/Pani prawo do żądania dostępu do swoich danych osobowych, ich sprostowania oraz usunięcia, a nadto do żądania ograniczenia przetwarzania oraz do przenoszenia danych.</p>
    </li>
    <li>
    <p>Ma również Pani/Pan prawo do wniesienia sprzeciwu – z przyczyn związanych z Pani/Pana szczególną sytuacją – wobec przetwarzania niezbędnego do celów wynikających z Naszego prawnie uzasadnionego interesu.</p>
    </li>
    <li>
    <p>Odbiorcami Pani/Pana danych osobowych będą podmioty, którym zobowiązani jesteśmy przekazywać dane na gruncie obowiązujących przepisów prawa (w tym Urząd Skarbowy, Bank, w którym posiadamy rachunek bankowy, komornik sądowy w przypadku zajęć komorniczych), jak również podmioty realizujące na naszą rzecz usługi informatyczne, księgowe, kadrowe, usługi kurierskie lub pocztowe, szkoleniowe z zakresu BHP, jak również nasi klienci, kontrahenci oraz ich przedstawiciele.</p>
    </li>
    <li>
    <p>Dane osobowe będą przechowywane przez okres wykonywania Umowy, a także po jej zakończeniu – do czasu ustania po naszej stronie obowiązku archiwizowania dokumentów związanych z zawarciem lub wykonywaniem Umowy lub przedawnienia naszych wzajemnych roszczeń (w zależności od tego, która ze wskazanych okoliczności zaistnieje później). Dane przetwarzane na podstawie zgody będą przechowywane do czasu wycofania zgody, rozwiązania Umowy lub innej przyczyny wskazanej przy wyrażaniu zgody.</p>
    </li>
    <li>
    <p>Jeśli uzna Pani/Pan, że przetwarzanie danych osobowych jest niezgodne z przepisami RODO, może Pani/Pan wnieść skargę do Prezesa Urzędu Ochrony Danych Osobowych.</p>
    </li>
    <li>
    <p>W toku przetwarzania Pani/Pana danych osobowych nie będzie dochodzić do zautomatyzowanego podejmowania decyzji, w tym profilowania.</p>
    </li>
    <li>
    <p>Pani/Pana dane osobowe nie będą przekazywane do państw trzecich (czyli poza Europejski Obszar Gospodarczy) ani do organizacji międzynarodowych. Jeżeli zaistniałaby taka konieczność, w szczególności w przypadku utrzymywania relacji z kontrahentami spoza Europejskiego Obszaru Gospodarczego, uzupełniająca informacja w tym zakresie zostanie Pani/Panu przekazana oddzielnie.</p>
    </li>
    </ol>

---

{% include layouts/nav/nav-11.html default_logo="black" drop_search=true alignment_class="ms-auto" %} 
{% include layouts/header/page-title4.html %} 

<div class="wrapper light-wrapper">
    <div class="container inner">
      {% if page.privacy_info.enable %}
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            {% if page.privacy_info.title %}
             <h2 class="section-title larger mb-20">{{ page.privacy_info.title }}</h2>
            {% endif %}
            {% if  page.privacy_info.description %}
             <p class="lead">{{page.privacy_info.description}}</p>
            {% endif %}
            <div class="space20"></div>

          </div>
        </div>

        {% endif %}
    </div>
  </div>

{% include layouts/footer/footer-3.html %}