---
layout: default
title: "O nas"
meta_title: Wydawnictwo Bernardinum – Tradycja, Wiara i Nowoczesność
meta_description: |
  Poznaj historię Wydawnictwa Bernardinum – od drukarni w Pelplinie z 1830 roku po nowoczesne centrum poligraficzne. Promujemy wartości chrześcijańskie, kulturę i edukację poprzez wysokiej jakości publikacje. 
permalink: "/o-nas/"
sub_title: |
header_image: "/assets/images/art/baner-header-page-about.webp"
schema_type: about

blockquote_area:
  enable: true
  title: "Misja i wartości"
  sub_title: |
    Wydawnictwo Bernardinum od początku swojego istnienia kieruje się misją promowania wartości chrześcijańskich, kulturowych i edukacyjnych. Dąży do wydawania publikacji, które nie tylko poszerzają horyzonty czytelników, ale także inspirują do refleksji nad otaczającym światem. Wierność tradycji łączy z otwartością na nowoczesne formy przekazu, dbając o wysoką jakość merytoryczną i estetyczną swoich wydawnictw.

about_area:
  enable: true
  title: "Historia Wydawnictwa Bernardinum"
  sub_title: |
    Wydawnictwo Bernardinum ma swoje korzenie w bogatej tradycji poligraficznej Pelplina, miasta położonego w województwie pomorskim. Początki działalności wydawniczej sięgają roku 1830, kiedy to powstała pierwsza drukarnia, stając się fundamentem dla przyszłego rozwoju ośrodka piśmienniczego na Pomorzu. Dynamiczny rozwój Pelplina w drugiej połowie XIX wieku był związany z obecnością siedziby biskupa, Wyższego Seminarium Duchownego oraz progimnazjum Collegium Marianum. Dogodne połączenia kolejowe oraz otoczenie zamieszkane przez polskie ziemiaństwo sprzyjały kulturalnemu i intelektualnemu rozkwitowi miasta.<br /><br />
    Pod koniec lat 60. XIX wieku uruchomiono w Pelplinie drukarnię, która później funkcjonowała jako Drukarnia i Księgarnia Pielgrzym. Działała ona prężnie do 1939 roku, kiedy to jej działalność została przerwana przez wybuch II wojny światowej. Po wojnie, pelpliński ośrodek wydawniczy kontynuował swoją misję głównie dzięki staraniom Kurii Biskupiej i Seminarium Duchownego. We wrześniu 1945 roku rozpoczęto na nowo działalność wydawniczą, która z różnym natężeniem trwa do dziś.<br /><br />
    W kwietniu 1993 roku powstało Wydawnictwo Wyższego Seminarium Duchownego Bernardinum, będące kontynuacją Zakładu Małej Poligrafii działającego od 1979 roku. Początkowo skupiało się ono na druku podręczników dla seminarium oraz literatury pomocniczej. Z czasem nastąpił dynamiczny rozwój – zwiększono liczbę pracowników, a stare urządzenia drukujące zastąpiono nowoczesnym sprzętem, co pozwoliło na poszerzenie oferty wydawniczej i usług poligraficznych.<br /><br />
    Na początku 1998 roku, w wyniku połączenia Wydawnictwa Diecezjalnego z Wydawnictwem Wyższego Seminarium Duchownego Bernardinum, powstała nowa oficyna wydawnicza – Wydawnictwo Diecezji Pelplińskiej Bernardinum. Atutem nowo powstałej drukarni w województwie pomorskim jest nowoczesny park maszynowy oraz zespół doświadczonych pracowników, dzięki czemu jesteśmy w stanie sprostać najbardziej wymagającym projektom.
  image: "/assets/images/art/map.webp"

video_area:
  enable: true
  title: "Historia i teraźniejszość"
  sub_title: "Rozmowa z Redaktorem naczelnym Bernardinum ks. dr Wojciechem Węckowskim."
  image: ""
  video_url: "https://youtu.be/lD8zP4zNOI8?si=vaEhHITlsW4jaPPc"

faksymile_area:
  enable: true
  title: "Biblia Gutenberga"
  sub_title: ""
  services:

    - title: "Drukujemy faksymile Biblii Gutenberga"
      image: "/assets/images/art/faksymile-biblia-gutenberga.webp"
      description: |
        <p class="lead larger">Jesteśmy dumni z naszych dokonań w zakresie druków trudnych i unikatowych: reprintów i faksymiliów, albumów, mikrodruków.</p><p class="lead larger"> Najważniejszym dziełem w tym zakresie jest faksymile pelplińskiego egzemplarza piętnastowiecznej Biblii Gutenberga oraz faksymile rękopisu koncertu f-moll Fryderyka Chopina. Posiadamy dział digitalizacji i fotografii rękopisów oraz starych druków.</p>

two_columns_area_one:
  enable: true
  image: "/assets/images/art/pismo-pielgrzym-collage.webp"
  title: "Pielgrzym. <br /> Dwutygodnik katolicki od 1869 r."
  description: |
    Wydajemy pismo katolickie „Pielgrzym”, jedno z najstarszych czasopism katolickich w Polsce, ukazujące się od 1869 roku. Przez ponad 150 lat stanowi nie tylko źródło informacji o życiu Kościoła, ale także przestrzeń refleksji nad kulturą, historią i współczesnym światem.
  button_text: "Idź do pielgrzym.pelplin.pl"
  button_url: "https://pielgrzym.pelplin.pl/"
      
two_columns_area_two:
  enable: true
  image: "/assets/images/art/drukarnia-bernardinum-collage.webp"
  title: "Drukarnia Bernardinum – nowoczesna technologia i tradycja druku"
  description: |
    Drukarnia Bernardinum to nowoczesne centrum poligraficzne z wieloletnią tradycją, łączące rzemieślniczą precyzję z najnowszymi osiągnięciami technologicznymi. Dzięki nowoczesnemu parkowi maszynowemu i doświadczonemu zespołowi specjalistów oferujemy kompleksowe usługi poligraficzne na najwyższym poziomie.
  button_text: "Idź do drukarnia.bernardinum.com.pl"
  button_url: "https://www.drukarnia.bernardinum.com.pl/"

subscribe_area:
  enable: true
  title: "Podaj swój e-mail, a my wyślemy Ci kupon rabatowy z 20% zniżką na nasze książki!"
  img_1x: "/assets/images/art/bernardunum-kupon-rabat-20@2x.png"
  img_2x: "/assets/images/art/bernardunum-kupon-rabat-20@2x.png"
  action_url: "https://submit-form.com/Pab72KVv4"
  data-botpoison-public-key: "pk_d58c5d48-cf52-4d06-bcaf-728e4ec143ec"

---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title5.html %}

<div class="wrapper light-wrapper">

    {% if page.blockquote_area.enable %}

    <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h2 class="section-title larger mb-40 text-center">{{ page.blockquote_area.title }}</h2>
            <div class="box bg-white shadow">
              <blockquote class="icon">
                <p class="lead larger">{{ page.blockquote_area.sub_title }}</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

</div>

<div class="d-none d-sm-block divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-dark-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 53.23">
  <path d="M0,11.23s114,42,335,22,272-44,416-28,319,37,319,37v11H0Z" /></svg></div>

<div class="wrapper dark-wrapper inverse-text">
    <div class="container inner">
      {% if page.about_area.enable %}
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            {% if page.about_area.title %}
             <h2 class="section-title larger mb-20 text-center">{{ page.about_area.title }}</h2>
            {% endif %}
            {% if  page.about_area.sub_title %}
             <p class="lead">{{page.about_area.sub_title}}</p>
            {% endif %}
            <div class="space20"></div>

          </div>
        </div>

        {% endif %}
    </div>
  </div>

{% if page.video_area.enable %}
  <div class="video-area">
  <div class="wrapper light-wrapper">
    <div class="container inner pt-140 pb-140 text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="section-title larger text-center">{{page.video_area.title}}</h2>
          <p class="lead larger text-center">{{page.video_area.sub_title}}</p>
          <div class="space10"></div>
          <div class="light-gallery-wrapper">
            <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="lD8zP4zNOI8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}

{% if page.faksymile_area.enable %}
<div class="wrapper bg-opacity-default">
  <div class="container inner">
   {% for service in page.faksymile_area.services %}
   {% assign chck_number = forloop.index | modulo: 2 %}
   <div class="space120"></div>
   <div class="row align-items-center">
     {% if service.image %}
     <div class="col-lg-6 order-lg-{{chck_number}}">
       <div class="img-blob blob1">
        <figure><img src="{{service.image}}" style="width: 30rem" alt="{{service.title}}"/></figure>
       </div>
     </div>
     {% endif %}
     <div class="space30 d-none d-md-block d-lg-none"></div>
     <div class="col-lg-6 pr-60 pr-md-15">
      <h2 class="section-title larger text-center">{{service.title}}</h2>
       <div class="space10"></div>
       {{service.description}}
     </div>
   </div>
   {% endfor %}
  </div>
</div>
{% endif %}

{% if page.two_columns_area_one.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.two_columns_area_one.image %}
      <div class="col-lg-6 shadow-lg p-3 mb-5 bg-body rounded">
        <figure><img src="{{page.two_columns_area_one.image}}" alt="{{page.two_columns_area_one.title}}"/></figure>
      </div>
      {% endif %}

      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h2 class="display-3">{{page.two_columns_area_one.title}}</h2>
        <div class="space20"></div>
        <p class="lead larger">{{page.two_columns_area_one.description}}</p>
        <div class="space10"></div>
        <a target="_blank" href="{{page.two_columns_area_one.button_url}}" class="btn btn-dark">{{page.two_columns_area_one.button_text}}</a>
      </div>
    </div>

    {% endif %}
    {% if page.two_columns_area_two.enable %}
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_two.image %}
      <div class="col-lg-6 order-lg-2 shadow-lg p-3 mb-5 bg-body rounded">
        <figure><img src="{{page.two_columns_area_two.image}}" alt="{{page.two_columns_area_two.title}}"/></figure>
      </div>
      {% endif %}

      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h2 class="display-3">{{page.two_columns_area_two.title}}</h2>
        <div class="space20"></div>
        <p class="lead larger">{{page.two_columns_area_two.description}}</p>
        <div class="space10"></div>
        <a target="_blank" href="{{page.two_columns_area_two.button_url}}" class="btn btn-dark">{{page.two_columns_area_two.button_text}}</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% include utilities/newsletter-discount.html %}
{% include layouts/footer/footer-3.html %}