{% if page.contact_form.enable %}
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="boxed">
            <div class="bg-white shadow rounded">
                <div class="image-block-wrapper">
                    <div class="image-block col-lg-6 p-0">
                        {% include components/contact/gmap.html extra_class="map-full" %}
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="box d-flex">
                                    <div class="align-self-center">
                                        <h2>{{page.contact_info.title}}</h2>
                                        <p>{{page.contact_info.sub_title}}</p>
                                        <ul class="icon-list">
                                            {% for lists in page.contact_form.lists %}
                                            {% if lists.title == "Phone" %}
                                            <li><i class="{{lists.icon}}"></i> <a href="tel:{{lists.info_01}}">{{lists.info_01}}</a></li>
                                            {% elsif lists.title == "E-mail" %}
                                            <li><i class="{{lists.icon}}"></i> <a href="mailto:{{lists.info_01}}">{{lists.info_01}}</a></li>
                                            {% else %}
                                            <li><i class="{{lists.icon}}"></i>{{lists.info_01}}</li>
                                            {% endif %}
                                            {% endfor %}


                                        </ul>

                                        <div id="accordion-1" class="accordion accordion-wrapper simple">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="accordion-heading-1-1">
                          
                                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-1" aria-expanded="true" aria-controls="accordion-collapse-1-1">Departamenty - Telefony</button>
                                                  
                                                </div>
                                                <div id="accordion-collapse-1-1" class="accordion-collapse collapse" aria-labelledby="accordion-heading-1-1" data-bs-parent="#accordion-1">
                                                  <div class="accordion-body card-body">
                                                    <ul class="icon-list">
                                                        {% for lists in page.contact_form.list_extra_phone %}
                                                        <li>{{lists.title}}: <a href="tel:{{lists.info_01}}">{{lists.info_01}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>

                                        <div id="accordion-2" class="accordion accordion-wrapper simple">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="accordion-heading-2-1">
                          
                                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-1" aria-expanded="true" aria-controls="accordion-collapse-2-1">Departamenty - E-maile</button>
                                                  
                                                </div>
                                                <div id="accordion-collapse-2-1" class="accordion-collapse collapse" aria-labelledby="accordion-heading-2-1" data-bs-parent="#accordion-2">
                                                  <div class="accordion-body card-body">
                                                    <ul class="icon-list">
                                                        {% for lists in page.contact_form.list_extra_email %}
                                                        <li>{{lists.title}}: <a href="mailto:{{lists.info_01}}">{{lists.info_01}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="space90"></div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                {% if page.contact_form.title %}

                <h2 class="section-title text-center">{{page.contact_form.title}}</h2>
                {% endif %}
                {% if page.contact_form.sub_title %}
                <p class="lead larger text-center">{{page.contact_form.sub_title}}</p>
                {% endif %}
                <div class="space40"></div>
                
                        <form id="contact-form" class="fields-white" method="post"
                            action="https://formsubmit.io/send/{{page.contact_form.action_email}}">
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row g-3">
                                    {% for forms_data in page.contact_form.forms_data %}
                                    {% if forms_data.field_type == "input" %}
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-group">
                                            <input id="{{forms_data.field_name}}" type="text"
                                                name="{{forms_data.field_name}}" class="form-control"
                                                placeholder="{{forms_data.placeholder}}  *" required="required"
                                                data-error="{{forms_data.error_message}}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    {% else if forms_data.field_type == "textarea" %}
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}"
                                                class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4"
                                                required="required"
                                                data-error="{{forms_data.error_message}}"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-send" value="Wyślij">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <p class="text-muted"><strong>*</strong> Te pola są obowiązkowe.</p>
                                    </div>
                                </div>
                            </div>
                        </form>

                  
            </div>

        </div>
        </div>
</div>
        {% endif %}