---
layout: default
---

{% include layouts/nav/nav-11.html default_logo="black" drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title4.html %}

<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog grid grid-view">
      <div class="row isotope">
        {% for post in page.posts %}
          {% include posts/loops/post-loop.html 
            excerpt_length=40
            text_alignment='text-center'
            is_boxed=true
            is_grid=true
          %}
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.blog -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% include layouts/footer/footer-3.html %}